.wrapper {
  display: flex;
  padding: 20px;
}
.title-container {
  display: flex;
}
.container {
  display: block;
  margin: 0 0 0 20px;
}
.des-container {
  display: flex;
}
.image-detail {
  width: 10rem;
  height: 15rem;
  border-radius: 5px;
}
